name: Orchestrator Dev

on:
  push:
    branches: [develop]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  call-python-dev:
    uses: ./.github/workflows/python-dev.yml

  call-terraform-dev:
    needs: [call-python-dev]
    uses: ./.github/workflows/terraform-dev.yml
