name: Orchestrator Prod

on:
  workflow_run:
    workflows: ["Orchestrator Test"]
    types: [completed]
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  orchestrate:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Run Python Prod Workflow
        uses: ./.github/workflows/python-prd.yml

      - name: Run Terraform Prod Workflow
        uses: ./.github/workflows/terraform-prd.yml