name: Orchestrator Dev

on:
  push:
    branches: [develop]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  orchestrate:
    runs-on: ubuntu-latest
    steps:
      - name: Run Python Dev Workflow
        uses: ./.github/workflows/python-dev.yml

      - name: Run Terraform Dev Workflow
        uses: ./.github/workflows/terraform-dev.yml