name: Orchestrator Test

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  orchestrate:
    runs-on: ubuntu-latest
    steps:
      - name: Run Python Test Workflow
        uses: ./.github/workflows/python-test.yml

      - name: Run Terraform Test Workflow
        uses: ./.github/workflows/terraform-test.yml